/*--Type all the text below this line--*/
:root {
    --basic: #0F0; /*--variable declaration --*/
    font-family: 'Times New Roman', Garamond, serif;
    background-color: #fff8dc;
}
a:link, a:visited {/*--and-selector --*/
color: var(--basic);
}
a:hover, a:visited {
    text-decoration: none;
}
#unique { /*--id selector --*/
    display: block;
}
.group { /*--class selector--*/
    text-transform: uppercase;
}
h1 { /*--type selector --*/
    text-align: center;
    text-shadow: 1px 1px rgba(0,0,0,0.25);
}
li > a { /*--child selector --*/
    font-weight: 600;
}
main h1 { /*-- descendent selector --*/
    font-size: 1rem;
    line-height: 1.2;
    letter-spacing: 1px;
}
img + p { /*-- adjacenr sibling selector --*/
    font-style: italic;
}